<meta charset="utf-8">
<title>Игра "Палочки"</title>
<style>
	*{
		padding:0;
		margin: 0;
		font-family: tahoma;
	}
	body {
		background-color:#fff;
		
		overflow-x:hidden;
	}
	.all {
		margin: 0 auto;
		width: 197px;
	}
	.all p {
		text-align: center;
		color: #fff;
		font-weight: bolder;
		font-size: 13px;
		padding-top: 10px;
	}
	#but {
		display: block;
		text-decoration: 0;
		background-color:#666;
		width: 197px;
		height: 198px;
		border: none;
	}
	#but:hover {
		background-color:#666;	
	}
</style>
<script>
	var k=25;
		if(k>1){
			var choise= Math.random();
		//	var choise=0.6;
			if (choise<=0.5) {
				choise='Браузер';
			}
			else {
				choise='Сервер';
			}
			alert("Игру начинает " + choise);
			if (choise=='Браузер') {
				window.location.assign("/home/welcome/?a=" + k + "&b=" + 0);
			}
			else {
				window.location.assign("/home/redirector/?a=" + k + "&b=" + 0);
			}
		}
</script>

